<!DOCTYPE html>
<html lang="en" >
<head {% block head_prefix %}{% endblock %}>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% load raven %}

    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/lato/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/londrina/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dooit.css' %}" />
    <link rel="stylesheet" href="{% static 'css/agreements.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tips.css' %}" />

    {% block meta %}{% endblock %}

</head>
<script>
Raven.config('{% sentry_public_dsn %}').install()
</script>
<body>

    {% block content %}{% endblock %}

</body>
</html>