
{% extends 'content/app_base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load content_page_helpers %}

{% block title %}{{ badge.name }}{% endblock %}

<!-- Required for Facebook meta tags -->
{% block head_prefix %}
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
{% endblock %}

{% block meta %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <!-- END: Twitter -->
    <!-- Facebook -->
    {% if settings.content.SocialMediaSettings.facebook_app_id %}
        <!-- App ID is used for analytics -->
        <meta property="fb:app_id" content="{{ settings.content.SocialMediaSettings.facebook_app_id }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% absolute_url 'social:badges-detail' slug=badge.slug %}" />
    <meta property="og:title" content="{{ badge.name }}" />
    {% if badge.image %}
        <meta property="og:image" content="{% absolute_path badge.image.file.url %}" />
    {% endif %}
    {% if badge.intro %}
        <meta property="og:description" content="{{ badge.intro }}" />
    {% endif %}
    <!-- END: Facebook -->
    <!-- Set viewport scale form mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}
<div class="badge-container">
    <div class="img-container">
        {% image badge.image original %}
    </div>
    <h1>{{ badge.name }}</h1>
    <h3>{{ badge.intro }}</h3>
</div>
{% endblock %}
