
{% extends 'content/app_base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load content_page_helpers %}
{% load i18n %}

{% block title %}{{ badge.name }}{% endblock %}

<!-- Required for Facebook meta tags -->
{% block head_prefix %}
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
{% endblock %}

{% block meta %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <!-- END: Twitter -->
    <!-- Facebook -->
    {% if settings.content.SocialMediaSettings.facebook_app_id %}
        <!-- App ID is used for analytics -->
        <meta property="fb:app_id" content="{{ settings.content.SocialMediaSettings.facebook_app_id }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% absolute_url 'social:badges-detail' slug=badge.slug %}" />
    <meta property="og:title" content="{{ badge.name }}" />
    {% if badge.image %}
        <meta property="og:image" content="{% absolute_path badge.image.file.url %}" />
    {% endif %}
    {% if badge.intro %}
        <meta property="og:description" content="{{ badge.intro }}" />
    {% endif %}
    <!-- END: Facebook -->
    <!-- Set viewport scale form mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/badge_social.css' %}" />
{% endblock %}

{% block content %}
<div class="banner">
    <div class="logo-container"><img src="{% static 'img/logo_small.png' %}" /></div>
    <div class="banner-description">
        {% trans 'Are you still having to borrow money from your parents to get the things that you want? Life is more awesome when you save money and reach goals on your own. Let Dooit help!'%}
    </div>
</div>
<div class="badge-container">
    <div class="img-container">
        {% image badge.image original %}
    </div>
    <h1>{{ badge.name }}</h1>
    <h3>{{ badge.intro }}</h3>
</div>
<div class="center" style="max-width:100%;">
    <!--<a href='https://play.google.com/store/apps/details?id=org.gem.indo.dooit&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>-->
    <a href='https://play.google.com/store/apps/details?id=org.gem.indo.dooit&utm_source=App%20Badges&utm_medium=Badge&utm_campaign=BadgeSocial'>
        <img alt='Temukan di Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/id_badge_web_generic.png' style="max-height:72px;max-width:100%;"/>
    </a>
</div>
{% endblock %}
