{% extends 'content/app_base.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load content_page_helpers %}

{% block title %}{{ page.title }}{% endblock %}

<!-- Required for Facebook meta tags -->
{% block head_prefix %}
prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
{% endblock %}

{% block meta %}

<!-- Facebook -->
{% if settings.content.SocialMediaSettings.facebook_app_id %}
<!-- App ID is used for analytics -->
<meta property="fb:app_id" content="{{ settings.content.SocialMediaSettings.facebook_app_id }}"/>
{% endif %}
<meta property="og:type" content="article"/>
<meta property="og:url" content="{% absolute_page_url page %}"/>
<meta property="og:title" content="{{ page.title }}"/>
{% if page.cover_image %}
<meta property="og:image" content="{% absolute_path page.cover_image.file.url %}"/>
{% endif %}
{% if page.intro %}
<meta property="og:description" content="{{ page.intro }}"/>
{% endif %}
<!-- END: Facebook -->
{% endblock %}

{% block content %}
<div id="article">
    <h1>{{ page.title.upper }}</h1>
    <h5>{{ page.first_published_at|date:"d / m / Y" }} {{ page.owner }}</h5>

    <ul id="tip-tags" class="clearfix">
        {% for tag in page.tags.all %}
        <li class="tip-tag">{{ tag.name.upper }}</li>
        {% endfor %}
    </ul>

    <div id="slider" class="swipe">
        <div class="swipe-wrap">
            {% for block in page.body %}
            {% if block.block_type == 'paragraph' %}
            <div>
                <p>{% include_block block %}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="space">
        {% if page.body %}
        <div id="footer">
            <img id="left-nav-button" class="prevOff"
                 onclick="empDot(-1);"/>
            <img id="right-nav-button" class="nextOn"
                 onclick="empDot(1);"/>
            <div id="tip-nav-dots">
                <ul>
                    {% for block in page.body %}
                    {% if block.block_type == 'paragraph' %}
                    <li>&#8226;</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script language="JavaScript" src="{% static 'vendor/swipe.min.js' %}"></script>
<script language="JavaScript" src="{% static 'js/bimbingbung.js' %}"></script>
<script language="JavaScript">
        window.mySwipe = new Swipe(document.getElementById('slider'));
        list[0].setAttribute("id", "activated");





</script>
{% endblock %}