{% extends "modeladmin/index.html" %}
{% load quiz_entry_helpers %}
{% load static %}
{% load i18n modeladmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
{{ block.super }}
{{ view.media.css }}
{% endblock %}

{% block extra_js %}
{{ view.media.js }}
{{ js.cookie.js }}
<script src="{% static 'js/admin_participant_index.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
{% include "wagtailadmin/shared/datetimepicker_translations.html" %}

<script>
        $(function() {
            $('#id_date_from').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
            $('#id_date_to').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                i18n: {
                    lang: window.dateTimePickerTranslations
                },
                lang: 'lang'
            });
        });

</script>

{% endblock %}

{% block content %}
<header class="{% if merged %}merged{% endif %} {% if tabbed %}tab-merged{% endif %} {% if search_form %}hasform{% endif %}">
    <div class="row nice-padding">
        <div class="left">
            <div class="col header-title">
                <h1 class="icon icon-{{ icon }}">
                    Quiz Submissions
                </h1>
            </div>
        </div>
    </div>
</header>

{% block content_main %}
<div>
    <div class="row nice-padding">
            {% for challenge in quiz_challenges %}
                {% autoescape off %}
                {{ challenge|get_challenge_participants }}
                {% endautoescape %}
            {% endfor %}
    </div>
</div>
{% endblock %}

{% endblock %}